.theme-toggle-button {
  background: var(--header-bg);
  border: 1px solid var(--card-selected-bg);
  font-size: 24px;
  cursor: pointer;
  color: none;
  margin-left: 20px;
  top: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
  background-color: var(--button-hover-bg);
}
